.ss_main {
  position: relative;
  display: inline-block;
  user-select: none;
  color: #666;
  width: 100%;
  outline: none;
}
.ss_main .ss_single_selected {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 30px;
  padding: 6px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
}
.ss_main .ss_single_selected.ss_disabled {
  background-color: #dcdee2;
  cursor: not-allowed;
}
.ss_main .ss_single_selected.ss_open-above {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ss_main .ss_single_selected.ss_open-below {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ss_main .ss_single_selected .placeholder {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: calc(100% - 30px);
  line-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ss_main .ss_single_selected .placeholder * {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.ss_main .ss_single_selected .placeholder .ss_disabled {
  color: #dedede;
}
.ss_main .ss_single_selected .ss_deselect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
  font-weight: bold;
}
.ss_main .ss_single_selected .ss_deselect.ss_hide {
  display: none;
}
.ss_main .ss_single_selected .ss_arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin: 0 6px 0 6px;
}
.ss_main .ss_single_selected .ss_arrow span {
  border: solid #666;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.2s, margin 0.2s;
}
.ss_main .ss_single_selected .ss_arrow span.arrow_up {
  transform: rotate(-135deg);
  margin: 3px 0 0 0;
}
.ss_main .ss_single_selected .ss_arrow span.arrow_down {
  transform: rotate(45deg);
  margin: -3px 0 0 0;
}
.ss_main .ss_multi_selected {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-height: 30px;
  width: 100%;
  padding: 0 0 0 3px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
}
.ss_main .ss_multi_selected.ss_disabled {
  background-color: #dcdee2;
  cursor: not-allowed;
}
.ss_main .ss_multi_selected.ss_disabled .ss_values .ss_disabled {
  color: #666;
}
.ss_main .ss_multi_selected.ss_disabled .ss_values .ss_value .ss_value_delete {
  cursor: not-allowed;
}
.ss_main .ss_multi_selected.ss_open_above {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ss_main .ss_multi_selected.ss_open_below {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ss_main .ss_multi_selected .ss_values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 1 100%;
  width: calc(100% - 30px);
}
.ss_main .ss_multi_selected .ss_values .ss_disabled {
  display: flex;
  padding: 4px 5px;
  margin: 2px 0px;
  line-height: 1em;
  align-items: center;
  width: 100%;
  color: #dedede;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.ss_main .ss_multi_selected .ss_values .ss_value {
  display: flex;
  user-select: none;
  align-items: center;
  font-size: 12px;
  padding: 3px 5px;
  margin: 3px 5px 3px 0px;
  color: #fff;
  background-color: #5897fb;
  /* @apply bg-primary; */
  border-radius: 4px;
  animation-name: scaleIn;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.ss_main .ss_multi_selected .ss_values .ss_value.ss_out {
  animation-name: scaleOut;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}
.ss_main .ss_multi_selected .ss_values .ss_value .ss_value_delete {
  margin: 0 0 0 5px;
  cursor: pointer;
}
.ss_main .ss_multi_selected .ss_add {
  display: flex;
  flex: 0 1 3px;
  margin: 9px 12px 0 5px;
}
.ss_main .ss_multi_selected .ss_add .ss_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #666;
  position: relative;
  height: 10px;
  width: 2px;
  transition: transform 0.2s;
}
.ss_main .ss_multi_selected .ss_add .ss_plus:after {
  background: #666;
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  left: -4px;
  top: 4px;
}
.ss_main .ss_multi_selected .ss_add .ss_plus.ss_cross {
  transform: rotate(45deg);
}
.ss_content {
  position: absolute;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  border: solid 1px #dcdee2;
  z-index: 1010;
  background-color: #fff;
  transform-origin: center top;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform: scaleY(0);
}
.ss_content.ss_open {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}
.ss_content .ss_search {
  display: flex;
  flex-direction: row;
  padding: 8px 8px 6px 8px;
}
.ss_content .ss_search.ss_hide {
  height: 0px;
  opacity: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ss_content .ss_search.ss_hide input {
  height: 0px;
  opacity: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.ss_content .ss_search input {
  display: inline-flex;
  font-size: inherit;
  line-height: inherit;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0px;
  height: 30px;
  padding: 6px 8px;
  margin: 0;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: textfield;
  /* @apply input input-sm input-bordered rounded w-full; */
}
.ss_content .ss_search input::placeholder {
  color: #8a8a8a;
  vertical-align: middle;
}
.ss_content .ss_search input:focus {
  box-shadow: 0 0 5px #5897fb;
  /* @apply shadow-primary; */
}
.ss_content .ss_search .ss_addable {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  flex: 0 0 30px;
  height: 30px;
  margin: 0 0 0 8px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  box-sizing: border-box;
}
.ss_content .ss_addable {
  padding-top: 0px;
}
.ss_content .ss_list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
.ss_content .ss_list .ss_optgroup .ss_optgroup-label {
  padding: 6px 10px 6px 10px;
  font-weight: bold;
}
.ss_content .ss_list .ss_optgroup .ss_option {
  padding: 6px 6px 6px 25px;
}
.ss_content .ss_list .ss_optgroup-label-selectable {
  cursor: pointer;
}
.ss_content .ss_list .ss_optgroup-label-selectable:hover {
  color: #fff;
  background-color: #5897fb;
  /* @apply bg-primary; */
}
.ss_content .ss_list .ss_option {
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  user-select: none;
}
.ss_content .ss_list .ss_option * {
  display: inline-block;
}
.ss_content .ss_list .ss_option:hover,
.ss_content .ss_list .ss_option.ss_highlighted {
  color: #fff;
  background-color: #5897fb;
  /* @apply bg-primary; */
}
.ss_content .ss_list .ss_option.ss_disabled {
  cursor: not-allowed;
  color: #dedede;
  background-color: #fff;
}
.ss_content .ss_list .ss_option:not(.ss_disabled).ss_option-selected {
  color: #666;
  background-color: rgba(88, 151, 251, 0.1);
}
.ss_content .ss_list .ss_option.ss_hide {
  display: none;
}
.ss_content .ss_list .ss_option .ss_search-highlight {
  background-color: #fffb8c;
}
