.custom-toggle {
    flex-shrink: 0;
    --chkbg: hsla(var(--bc) / 0.2);
    --handleoffset: 1.5rem;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-width: 1px;
    border-color: hsl(var(--er));
    --tw-border-opacity: 0.2;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.2;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: var(--rounded-badge, 1.9rem);
    transition: background, box-shadow var(--animation-input, 0.2s) ease-in-out;
    box-shadow: calc(var(--handleoffset) * -1) 0 0 2px hsl(var(--b1)) inset,
    0 0 0 2px hsl(var(--b1)) inset;
}

.custom-toggle:focus {
    box-shadow: calc(var(--handleoffset) * -1) 0 0 2px hsl(var(--b1)) inset,
    0 0 0 2px hsl(var(--b1)) inset;
    outline: none;
    outline-offset: 2px;
}

.custom-toggle:checked,
.custom-toggle[checked="true"],
.custom-toggle:checked:hover,
.custom-toggle[checked="true"]:hover {
    --chkbg: hsl(var(--bc));
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    box-shadow: var(--handleoffset) 0 0 2px hsl(var(--b1)) inset,
    0 0 0 2px hsl(var(--b1)) inset;
    background-image: none;
}

.custom-toggle:indeterminate {
    --chkbg: hsl(var(--bc));
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    box-shadow: calc(var(--handleoffset) / 2) 0 0 2px hsl(var(--b1)) inset,
    calc(var(--handleoffset) / -2) 0 0 2px hsl(var(--b1)) inset,
    0 0 0 2px hsl(var(--b1)) inset;
}

[type="checkbox"].custom-toggle-accent:checked,
[type="checkbox"].custom-toggle-accent[checked="true"] {
    --chkbg: hsl(var(--a));
    border-color: hsl(var(--a));
    --tw-border-opacity: 0.1;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--ac) / var(--tw-text-opacity));
}
